<h1>Author: <%= @song.author %></h1>
<p>
  <%= @song.song_title  %>
</p>

<p>
  <a href="<%= @song.url %>"><%= @song.url %></a>
</p>
<p>
  <%= @song.created_at  %>
</p>

<hr/>
<a href="/songs">Back to All songs</a>